<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/weather/view/weatherCss.css" rel="stylesheet">
  <link href="/weather/view/css/weather-icons.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/weather/controller/controller.js"></script>
</head>
<body ng-app="Weather">
	<div ui-view></div>
</body>