
<script src="weather/view/js/jquery.min.js"></script>
<script src="weather/view/js/skel.min.js"></script>
<script src="weather/view/js/skel-layers.min.js"></script>
<script src="weather/view/js/init.js"></script>
<link rel="stylesheet" href="weather/view/css/skel.css" />
<link rel="stylesheet" href="weather/view/css/style.css" />
<link rel="stylesheet" href="weather/view/ss/style-xlarge.css" />
<div ui-view="nav"></div>
<section id="banner">
	<h2>	{{city}}</h2>
	<p>{{condition}}<i id="icon"class="wi {{icon}}"></i>{{temperature}}&deg;F</p>
	<ul class="actions">
		<li>
			<a href="https://github.com/beem812/Weather-App" class="button big">Learn More</a>
		</li>
	</ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
	<div class="container">
		<header>
			<h2>Consectetur adipisicing elit</h2>
			<p>Lorem ipsum dolor sit amet adipisicing elit. Delectus consequatur sed tempus.</p>
		</header>
		<div class="row 200%">
			<section class="4u 12u$(small)">
				<a href="https://github.com/beem812"><i class="icon big rounded fa-github"></i></a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
			</section>
			<section class="4u 12u$(small)">
				<i class="icon big rounded fa-linkedin-square"></i>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime molestiae.</p>
			</section>
			<section class="4u$ 12u$(small)">
				<i class="icon big rounded fa-user"></i>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eveniet, nesciunt molestias. Ipsam, voluptate vero.</p>
			</section>
		</div>
	</div>
</section>






