<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/weather/controller/controller.js"></script>
</head>
<body>
fuck you
	<div class="container" ng-app="Weather" ng-controller="WeatherCtrl" >
		{{test}}
	</div>
</body>